.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
}

.layout {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px;
}

.centralWidget {
  max-width: 650px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}