.input {
  margin-bottom: 16px;
}

.elementList {
  margin: 0 10px;
  background-color: rgb(175, 175, 175);
}

.elementList div:nth-child(odd) {
  background-color: lightblue;
}

.elementList div:nth-child(even) {
  background-color: lightgrey;
}